 body
* {
    margin: 0px;
    padding: 0px;
}
h1 {
    font: bold 20px verdana, sans-serif;
    color: white;
}

h2 {
    font: bold 14px verdana, sans-serif;
}


body,
header,
section,
footer,
aside,
article,
figure,
figcaption,
hgroup {
display: block;

}

/* menu*/
.header {
    background: linear-gradient(90deg, rgba(4,23,126,1) 0%, rgba(6,17,124,1) 27%, rgba(9,9,121,1) 79%, rgba(5,0,105,1) 100%);
    color: white;
    padding: 1rem 0;
    left: 0;
    top: 0;
    right: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.logo-menu-conte {
    margin-right: 20PX;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;

}

.main h1 {
    font: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
    font-size: 1.2rem;
    margin-top: 4rem;
    margin-bottom: 3rem;

}

.logo {
    letter-spacing: 0px;
    display: inline-block;
    margin-left: 65PX;
}

.logo img{
    width: 100px;
    height: 50px;
}



.menu-icon {

    display: none;
}

.menu {

    margin: 0;
    padding: 0;
    list-style: none;
}

.icono-menu {
    display: none;

}

.nave ul li a {

    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;

}

.nave ul li a:hover {
    background-color: #21ebff;

}

.nave ul li {

    display: inline-block;
}

/*slider*/

.container-slider {
   
    width: 89%;
    display: block;
    margin-top: 20px;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}
.carousel-inner{
    height: auto;
    
}

.carousel-inner img{
    height: 100%;
    width: 100%;
    
}
/* ventana modal*/ 


.modal-body{
    height: auto;
    width: auto;
    margin: auto;
    display: block;
    justify-content: space-around;
  
}



.modal-content{
    height: auto;
    width: auto;
}
.video 
{
    color: #000;
    height: 450px;
    width:450px;
}
.text-alv{
    color: #000;
    justify-content: space-around;
   text-align: center;
    font-size: 25px;
}

}
.carousel-inner {
    width: 900px;
    height: 100%;
}
/* agrupar*/
#agrupar {
    background-color: #2B2929;
    display: block;
    margin: auto;
    width: auto;
    height: auto;

}
#seccion {
    
    display: block;
    float: left;
    width: 1100px;
    height: 100%;
    margin-left: 10px;

}

.container2 {
    width: 100%;
    height: 100%;
    display:  flex;
    justify-content: left;
    align-items: content;
    max-width: auto;
    margin-top: 10px;
}

.container3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: content;
    max-width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.box {
    width: 400px;
    height: 350px;
    position: relative;
    overflow: hidden;
    margin: 5px;
    border: 3px solid #50a8e0;
    margin: 20px;
    margin-left: 70px;
}

.box img {
    width: 100%;
    height: 100%;
   
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: scale(0);
    transition: .3s ease;
}

.boton {
    position: relative;
    padding: 10px 30px;
    margin: 0 15px;
    color: #21ebff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.5s;
}


.boton:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition: 0.5s;
    transition-delay: 0.5s;
}



.boton:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10px;
    width: 10px;
    border-bottom: 2px solid#21ebff;
    border-right: 2px solid #21ebff;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.boton:hover:before {
    width: 100%;
    height: 100%;
    transition-delay: 0.5s;
}

.boton:hover:after {
    width: 100%;
    height: 100%;
}

.box:hover .capa {
    transform: scale(1);

}

.boton:hover {
    background: #143ca5;
    color: #fff;
    box-shadow: 0 0 50px #143ca5; transition-delay: 0.5s;

}
/*aside*/
.aside{
    width: auto;
    display: block;
}
.tituloaside h1 {
    color: white;
    margin-top: 20px;
   text-align: left;
   margin-left: 60px;
    font-family: fuente;
}
@font-face {
    font-family: fuente;
    src: url(../fuentes/fuente.otf);
}

.zoom {
    transition: transform .5s;
}

.zoom:hover {
    transform: scale(2.0);

    
}
.info-aside img:hover{    
    left: -60px;
    width: 250px;
    height: 250px;
}


.info-aside {
    margin-top: 60px;
}

.info-aside p {
    color: white;
}

.info-aside img {
    position: relative;
    width: 250px;
    height: 250px;
}



/*cuerpo*/



.columna {
   float: right;
    margin-top: 10px;
    width: 330px;
    padding: 5px;
    border-radius: 2px;
    margin-right: 20px;
    margin-left: auto;
    justify-content: space-around;

}
/*footer*/



.site-footer {
    display: flex;
    margin-top: 40px;
    padding: 20px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    width: 100%;
    height: auto;

}

.container-footer {
   display: block;
    justify-content: center;
    margin: auto;
    width: 100%;
}


.site-footer hr {
  
    border-top-color: #004db9;
    opacity: 0.8;
}

.site-footer hr.small {

    margin: 20px 0
}
.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #fff;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: center
}





.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a img {

    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a img:active,
.social-icons a img:focus,
.social-icons a img:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a img {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a img.facebook:hover {
    background-color: #3b5998
}

.social-icons a img.instagram:hover {
    background-color: #00aced
}

}

.social-icons a.youtube:hover {
    background-color: #ea4c89
}


inf {
    display: flex;

}

.inf ul li {
    text-align: center;
    font-size: 16px;
    display: block;
}


.col-sm-12 {
    
    display: block;
    height: 100px;
    width: auto;
    margin: auto;
}
.col-sm-12 h6{
    margin-left: 90px;
}

.col-sm-12 p {
  
    color: white;
}

.col-xs-6 {
   
    display: block;
    padding: auto;
}


.row {

    width: 100%;
    justify-content: space-around;
 
    margin: auto;

}


/*-----------------------------*/

/*CATALOGO*/
.catalogo {
 width: 900px;
height: auto;
margin-left: 10px;
    
}
.imagen {
    display: flex;
    margin-top: 35px;
    justify-content: space-around;
    margin-left: 60px;
}
.imagen img {
    width: 400px;
    height: 400px;
}
.texto {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 60px;
    justify-content: center;
    color: white;
    float: right;

}
.text-justify{
    background-color:;
    margin-left: 40px;
    width: 400px;
    margin-left: 90px;
    
}


.titulo {
    margin-top: 40px;
    display: block;
    text-align: center;
    align-items: center;
    margin-left: 60px;
    margin-bottom: 20px;

}
.titulo h1 {
    color: white;
    font-family: fuentealv;
}


@font-face {
    font-family: fuentealv;
    src: url(../fuentes/fuentealv.ttf);
}



.imagen2 {
    margin-top: 35px;
    display: flex;
    margin-left: 60px;
}


/* formulario*/

button,
input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.background {
    
    margin: auto;
    width: 800px;
    height: 1000px;
    display: flex;
    margin-left: 250px;
    margin-top: 80px;

}
.container-formulario {
    display: flex;
    margin-top: 20px;
   
    

}

.screen { 
    position:rel;
    background: #3e3e3e;
    border-radius: 15px;
    width: 700px;
    height: 500px;
   

}
.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}
.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #10379C;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

.screen-header-button.close {
    background: #ed1c6f;
}

.screen-header-button.maximize {
    background: #e8e925;
}

.screen-header-button.minimize {
    background: #74c54f;
}

.screen-header-right {
    display: flex;
}

.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #10379C;
    font-size: 26px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;

}

.app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #fff;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button {
    background: none;
    border: none;
    color: #1955F1;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: #fff;
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

/* estilos de la galeria */
}



.galeria-imagenes {
    display: block;
    width: 600px;
    height: auto;
 
  
}
.galeria-imagenes h1 {

    color: white;
    
 
  
}


.titulo-gal{
    color: #fff;
}



.galeria {
    margin-top: 10px;
    width: 900px;
    float: left;
    list-style: none;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.galeria li {
    margin: 5px;

}

.galeria img {

    width: 170;
    height: 210px;
}

/*estilos modal*/


.modal {
    display: none;
}





.modal:target {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.modal h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;

}

.imagen-galeria {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-galeria a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
    flex-shrink: 2;
}

.imagen-galeria a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2
}

.imagen-galeria img {
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}

.cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}
/* estilos de login */




.contenedor-formulario {
    width: 100%;
 
    
}
.check p
{
    text-align: center;
}

.formulario {
    background: #fff;
    margin-top: 20px;
    padding: 3px;
    width: 500px;
    height:400px;
}

h1 {
    text-align: center;
    color:#fff;
    font-size: 40px;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;

}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;

}

.button:hover {
    background: cadetblue;
}

.link {
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;

}

.link:hover {
    color: cadetblue
}

@media(max-width:768px) {
    .row {
    width: 600px;
    justify-content: center;
    align-items: center;
    margin: auto;

}
    .modal-content{
    display: none;
   
}
    
    .nave {
        width: 100%;
        margin-top: 1rem;

    }
     .nave ul li {
        display: block;
    }
    
   /* .nave ul{
     display: none;
    }*/
    .nave ul.show{
        display: block;
        
    }

    .nave ul li a {
        display: block;
        padding: 0.5 rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
    }

    .icono-menu {
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }


    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 20PX;
        border-radius: 2%;
    }

    .col-sm-12 {
        display: none;
    }

  

    
    
    
    .col-xs-6
    {
    justify-content: center;
        
      
    
    }
    .site-footer {

    width: auto;
    height: auto;
    
        
    }
    .container-footer {
    justify-content: space-around;
    margin: auto;
    

    }

    
      
    .box {
    width: auto;
    height: auto;
    
    }
    
    .box img {
    width: 100%;
    height: 100%;
    }
    .agrupar{
        width: 768px;
        height: auto;
    }
    .pagina {
    background-color: #000;
    display: block;
    float: center;
    width: 740px;
    height: auto;
    margin-left: 10px;}
    
    .col-md-4
    {
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: space-around;}
        
    .col-md-4, .inf {
     
        justify-content: center;
        align-items: left;

    }
    
    
    .social-icons, .inf
    {
    float: left;
    justify-content: space-around;
        align-content: center;
    }
    
    
    .catalogo {
    width: 740px;
    height: auto;
    align-items: center;
    }
        
    .galeria-imagenes {
    display: flex;
    width: 700px;
    height: auto;
    }
    
    .galeria-imagenes h1 
    {
    display: none;
    
    }
            
    
    .galeria {
    margin-top: 100px;
    width: 900px;
    float: left;
    list-style: none;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    }
    .background {
    margin: auto;
    width: 700px;
    height: 500px;
    display: flex;
    margin-left: 50px;

    }
   
    .screen { 
    position:rel;
    background: #3e3e3e;
    border-radius: 15px;
    width: 500px;
    height: 400px;
    margin-left: 80px; 
    }
    .logo img
    {
    margin-left: 230px;
    }
  
}


@media(max-width:580px) {
    
    .header {

    background: linear-gradient(90deg, rgba(4,23,126,1) 0%, rgba(6,17,124,1) 27%, rgba(9,9,121,1) 79%, rgba(5,0,105,1) 100%);
    color: white;
    padding: 1rem 0;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    }

    
       #seccion{
        width: 580px;
        background-color: #2B2929;
        padding: 0px;
        
    }
  
    
    .row {
    width: 500px;
    justify-content: center;
    align-items: center;
    margin: auto;

    }
    .modal-content{
    display: none;
    
    }
    .logo img
    {
    margin-left: 150px;
    }
    
    
    .nave {
        width: 100%;
        margin-top: 1rem;

    }
     .nave ul li {
        display: block;
    }
    
    /*.nave ul{
        display: none;
    }*/
    .nave ul.show{
        display: block;
        
    }

    .nave ul li a {
        display: block;
        padding: 0.5 rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
    }

    .icono-menu {
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }


    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 20PX;
        border-radius: 2%;
    }

    .col-sm-12 {
        display: none;
    }

    .columna {
        display: none;
    }

    .col-md-4, .inf {
        display: flex;
        justify-content: center;
        align-items: left;

    }
    
    
    
    .col-xs-6
    {
        justify-content: center;
        
      
    
    }
    .site-footer {
    display: none;
    width: auto;
    height: auto;
    margin: auto;
    
    }
    .container-footer {
    justify-content: space-around;
    padding: 0 65px;

    }
 
    
    .container2
    {
        justify-content: center;
        margin: auto; 
        display: block;
        
    
    }
    .container3
    {
    display: block;
    
    }
    .box {
    margin: 40px;
    width: 500px;
    height: 500px;
    
    }
    
    .box img {
     
    width: 100%;
    height: 100%;
    }
    .agrupar{
    
        width: auto;
        height: auto;
    }
    .seccion {
    display: block;
    float: center;
    width: 100%;
    height: 100%;

         
    
    }
    
    
    
    .col-md-4
    {
        display: block;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: space-around;
    }
    
    .social-icons, .inf
    {
    float: left;
    justify-content: space-around;
        align-content: center;
    }
    
    
    .catalogo {
    display: block;
    width: 540px;
    height: auto;
    align-items: center;
 
    }
    
    .titulo {
    width: 300px;
    height: 100px;
    margin-top: 5px;
    display: block;
    justify-content: center;
    margin-bottom: 5px;

    }
    .titulo h1
    {
        margin-top: 5px;
        margin-bottom: 10px;
    
    }
    .titulo p
    {
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 30px;
    }
    .imagen
    {
        display: none;
           
        margin-left: 60px;    
        
    }
    .imagen img{
            display: none;
        width: 400px;
        height: 600px;
    }
    
    
    
        
    .galeria-imagenes {
    display: block;
    width: 450px;
    height: auto;
    
    }
    
    .galeria-imagenes h1 
    {
    display: none;
    
    }
            
    
    .galeria {
    margin-top: 100px;
    width: 540px;
    float: left;
    list-style: none;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;

    }
    .background {
    margin: auto;
    width: auto;
    height: 500px;
    display: flex;
    margin-left: 20px;

    }
   
    
    .galeria img {
    
    width: 400px;
    height: 300px;
        margin-left: 35px;
    }
  .imagen-galeria {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    

    
 
    .container-formulario {
    display: flex;
    margin-top: 20px;
    margin-left: -15px;
   
    

    }

    .screen { 
    position:rel;
    background: #3e3e3e;
    border-radius: 15px;
    width: 100%;
    height: 70%;
   

    }    
    .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
    }
    .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #10379C;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    }

    .screen-header-left {
    margin-right: auto;
    }

    .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
    }

    .screen-header-button.close {
    background: #ed1c6f;
    }

    .screen-header-button.maximize {
    background: #e8e925;
    }

    .screen-header-button.minimize {
    background: #74c54f;
    }

    .screen-header-right {
    display: flex;
    }

    .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
    }

    .screen-body {
    display: flex;
    }

    .screen-body-item {
    flex: 1;
    padding: 50px;
    }

    .screen-body-item.left {
    display: flex;
    flex-direction: column;
    }

    .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #fff;
    font-size: 10px;
    }

    .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;

    }

    .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
    }

    .app-form-group {
    margin-bottom: 15px;
    }

    .app-form-group.message {
    margin-top: 40px;
    }

    .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
    }

    .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
    }

    .app-form-control::placeholder {
    color: #fff;
    }

    .app-form-control:focus {
    border-bottom-color: #ddd;
    }

    .app-form-button {
    background: none;
    border: none;
    color: #1955F1;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    }

    .app-form-button:hover {
    color: #fff;
    }

    .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
    }

    .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    }

    .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    }
    
    
  
    
    
    
    .container-slider{
        display: none;
        height: 350px;
        width: 200px;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
}



